// Aggregate the config.

@import "../components/d_p_instagram";

@import "bootstrap_overrides";
@import "base_theme_overrides";

.bevers div {
  background-color: #d41131;
}

.welpen div {
  background-color: #4acb71;
}

.scouts div {
  background-color: #c9b791;
}

.explorers div {
  background-color: #b81a3b;
}

.single-box-wrapper .field--name-field-d-icon img{
  display: block;
  margin:0px auto;
  margin-bottom: 20px;
  width: inherit;
  height: inherit;
}

$font-main-header-big-size-down-sm: 2rem;
